/**
 * PreferencesFX <-> Atlanta styles bridge
 */

.root {
    -color-fg-default: black;
    -fx-base: -color-bg-default;
    -fx-background: -color-bg-default;
    -fx-control-inner-background: -color-bg-default;
    -fx-text-inner-color: -color-fg-default;
}

.custom-text-field {
    -fx-background-color: -color-bg-default !important;
    -fx-background-insets: 0 !important;
    -fx-background-radius: 4 !important;
}

.toggle-switch .label {
    -fx-text-fill: -color-fg-default;
}

.toggle-switch .thumb-area {
    -fx-background-color: -color-border-default, -color-bg-subtle !important;
}

.toggle-switch .thumb {
    -fx-background-color: -color-bg-default !important;

    /* Optional: Add a subtle border to make the thumb visible
       against the track in dark mode */
    -fx-border-color: -color-border-default !important;
    -fx-border-radius: 10 !important;
    -fx-background-radius: 10 !important;
}

.toggle-switch:selected .thumb {
    -fx-background-color: white !important; /* Standard toggle look */
}

.toggle-switch .thumb-area {
    -fx-background-color: -color-bg-subtle !important;
    -fx-background-radius: 10 !important;
}

.toggle-switch:selected .thumb-area {
    -fx-background-color: -color-accent-emphasis !important;
}

.simple-textarea {
    -fx-background-color: -color-bg-default !important;

    -fx-border-color: -color-border-default !important;
    -fx-border-width: 1px !important;

    -fx-text-fill: -color-fg-default !important;
}

.navigation-view {
    -fx-min-width: 350px !important;
    -fx-pref-width: 350px !important;
}

.navigation-view .tree-view {
    -fx-min-width: 350px !important;
}

.group-title-setting-label,
.group-title-setting-last-label {
    -fx-wrap-text: true;
    -fx-max-width: 350px;
}

.opaque-panel {
    -fx-background-color: -color-bg-default;
}

.height-s {
    -fx-min-height: 80px !important;
    -fx-pref-height: 80px !important;
}

.height-m {
    -fx-min-height: 100px !important;
    -fx-pref-height: 100px !important;
}

.height-l {
    -fx-min-height: 125px !important;
    -fx-pref-height: 125px !important;
}